    <div class="side_bar_header">
      <div class="header_name">
        <a href="#">Tom</a>
        </div>
      <div class="create_room">
     <a href="#">チャットを作成する</a>
     </div>
    </div>
    <div class="side_bar_content">
    <ul>
    <div class="chat_room">
     <li><a href="#">teckroom1</a></li>
     <li><a href="#">teckroom1</a></li>
    </div>

    </div>