<div class="wrapper">
  <div class="side_bar">
    <%= render "side_bar" %>
    <div class="side_bar_header"></div>
    <div class="side_bar_content"></div>
  </div>
  <div class="main_chat">
    <%= render "main_chat" %>
    <div class="main_chat_header"></div>
    <div class="main_chat_content"></div>
    <div class="main_chat_footer"></div>
  </div>
 
 </div>