.wrapper{
  display: flex;
}

.side_bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
  
}

.side_bar_header{
  height: 100px;
  background-color: #253141;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_name a {
  margin-left: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #FAFAFA;
}

.create_room a {
  font-size: 10px;
  text-decoration: none;
  color: deepskyblue;
  margin-right: 20px;
  padding: 14px;
  border: solid 1px lightblue;
}

.side_bar_content{
  padding: 20px 0;
  background-color: #2F3E51;
  height: calc(100% - 100px);
  overflow: scroll;
}

li {
  margin: 0 0 60px 20px;
}

li a {
  text-decoration: none;
  color: #FAFAFA;
}

.main_chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main_chat_header, .main_chat_content, .main_chat_footer{
  padding: 0 40px;
}

.main_chat_header{
  background-color: #FFFFFF;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main_chat_name{
margin: 36px 0 0 0;
}

.main_chat_name a {
text-decoration: none;
color: #333;
font-size: 24px;
}

.close_room{
  margin-top: 40px;
}

.close_room a {
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}

.main_chat_content{
  background-color: #FAFAFA;
  height: calc(100% - 190px);
  width: 100%;
  padding-top: 46px;
  overflow: scroll;
}

.message_box {
  padding-bottom: 40px;
}

.message_top{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user_name {
  margin-right: 10px;
  font-size: 16px;
  color: #434A54;
}

.time {
  font-size: 12px;
  color: #999;
}

.message {
  font-size: 12px;
  color: #434A54;
}


.main_chat_footer{
  background-color: #DDDDDD;
  height: 90px;
  width: 100%;
  padding: 20px 0 ;
  display: flex;
}

.input {
  display: flex;
  width: 100%;
  background-color: white;
  margin-left: 40px;
}

.input_message{
  width: 100%;
  padding-left: 10px;
  border: none;
}

.submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}